.mainBack {  
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 3em;
}

.switch-container {
  justify-content: space-around;
  display: flex;
  margin-top: .5em;
}


@media screen and (max-width: 991px) {
  .mobile-paper{
    padding: 0;
  }
}
